# Environments
.env
.env.local
.env.*.local

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# AWS SAM
.aws-sam/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Temporary files
/tmp/
setup-backend.ps1
update-files.ps1

LLD.md
WORK_ALLOCATION.md
.agents/*
